html,
body {
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313639;
}


.game__header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game__header img {
    width: 50px;
    height: 50px;
}

.boost-menu__balance,
.game__score {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin-left: 5px;
}



.game__clicker-circle {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232628;
    margin-top: 20px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 16px 0px rgba(138, 143, 254, 0.05);
    transition: transform 0.2s ease;
    --tiltX: 0deg;
    --tiltY: 0deg;
    transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
}


.game__clicker-circle img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.boost {
    display: flex;
    gap: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

.boost-menu__close-btn,
.boost-menu__close-btn img {
    background-color: transparent;
    max-width: 40px;
    max-height: 40px;
}

.boost-menu__title {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin-left: 5px;
}

.boost-menu__header {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.boost-menu__balance-container img {
    max-width: 50px;
    max-height: 50px;
}

.boost-menu__balance-container {
    display: flex;
    align-items: center;
}

.boost-menu__bosters {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.boost-menu__boost {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    background-color: #53575a;
    padding: 40px 20px 40px 20px;
    border-radius: 20px;
    width: 100%;
}

.boost-menu__boost h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 5px;
}

.boost-menu__boost h5 {
    color: #929090;
    font-size: 20px;
}

.boost-menu__boost__energy.disabled {
    opacity: 0.5;
    pointer-events: none;
}

#energie-timer {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 70%;

    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 800;
}


.boost-menu__bosters h4 {

    color: #fff;
    font-size: 36px;
    font-weight: 800;

}


.boost-menu {
    position: fixed;
    flex-direction: column;
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
    display: none;
    z-index: 999;
    padding: 20px;
    background-color: #313639;
}





/* Animation +1 */


.plus-one {
    position: absolute;
    font-family: Inter;
    text-shadow: 0px 0px 4px rgba(234, 182, 64, 0.25);
    font-size: 24px;
    font-weight: 800;
    background: linear-gradient(180deg, #47cbe8 0%, #2b5cef 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    user-select: none;
    animation: move-up 2s forwards;
}

.energie {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 800;

}



@keyframes move-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}