html,
body {
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313639;
}

.game__header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game__header img {
    width: 50px;
    height: 50px;
}

.game__score {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin-left: 5px;
}

.game__clicker-circle {
    position: relative;
}


.game__clicker-circle img {
    padding: 20px;
    background-color: #232628;
    margin-top: 20px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 16px 0px rgba(138, 143, 254, 0.05);
    transition: transform 0.2s ease;
    --tiltX: 0deg;
    --tiltY: 0deg;
    transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
}

/* Animation +1 */


.plus-one {
    position: absolute;
    font-family: Inter;
    text-shadow: 0px 0px 4px rgba(234, 182, 64, 0.25);
    font-size: 24px;
    font-weight: 800;
    background: linear-gradient(180deg, #47cbe8 0%, #2b5cef 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    user-select: none;
    animation: move-up 2s forwards;
}

.energie {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 800;

}



@keyframes move-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}